.cover {
    opacity: 0;
}

.coverParent {
    position: relative;
}

.caruselka {
    margin-top: 0px;
    margin-bottom: 0px;
}

#slider,
.slide {
    position: relative;
    left: 0;
    height: 660px;
    width: 100%;
}

.center {
    margin: 0 auto;
    width: 80%;
}

.slide p {
    position: absolute;
    font-size: 32px;
    font-family: "MyriadPro", sans-serif;
    font-weight: 200;
    color: white;
    text-shadow: 2px 2px 1px #000000;
    text-align: center;
    z-index: 2;
    min-width: 100%;
    margin-top: 350px;
}

/*html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "MyriadPro", sans-serif;
  box-sizing: border-box;
  font-size: inherit;
}*/

.slider_center {
    position: relative;
    width: 100%;
    min-width: 100%;
    margin-top: 0px;
}

.slider_center_text {
    position: absolute;
    margin-top: 200px;
    /*top: 350px;*/
    text-transform: uppercase;
}

.losung {
    font-size: 66px;
    /*  font-size: 5rem;*/
    font-family: "Myriad Pro", sans-serif;
    text-shadow: 0.05em 0.05em 0.05em #000;
    position: relative;
    margin-bottom: 0px;
    text-align: center;
    color: #ffffff;
    z-index: 10;
    line-height: 5%;
    font-weight: lighter;
    width: 100%;
}

.slider_container {
    /*position: absolute;*/
}

.slider_scroll {
    position: absolute;
    margin-top: 450px;
    margin-left: 20%;
    margin-right: 30%;
}

.slider_scroll .slider_button {
    position: absolute;
    top: 10px;
    left: 60%;
    z-index: 10;
}

.slider_scroll .scroll {
    height: 160px;
    margin-top: 5px;
    z-index: 10;
}

.slider_scroll .scroll img {
    position: relative;
    height: 160px;
    max-width: 960px;
    display: block;
    margin: 0 10% 0 10%;
    z-index: 2;
    width: 100%;
}

.caruselka img {
    border-style: none;
}

.slider_scroll .button a {
    width: 160px;
    height: 50px;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.1em black;
    color: white;
    font: normal 400 0.54em/2.16em "MyriadPro2", sans-serif;
    line-height: 300%;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    border-top: 0.05em solid #007cbf;
    background: #4b70a3;
    border-radius: 0.3em;
    box-shadow: 0 0.1em 0 black;
    z-index: 4;
    font-size: 20px;
    margin-left: -80px;
    margin-top: 45px;
    padding-top: 4px;
    text-transform: uppercase;
}

.slider_scroll .button a:hover {
    background: #585c60;
    border: none;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 15px;
    height: 15px;
    margin: 4px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    background: #869791;
}

.slider_center_hr {
    height: 2px;
    z-index: 20;
    position: relative;
}

.slider_center_hr hr {
    border: 1px solid #ffffff;
    width: 100px;
}

hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
    z-index: 10;
}

.mouse_line {
    display: inline-block;
    position: relative;
    margin-top: -36px;
    width: 100%;
    max-height: 78px;
    z-index: 2;
}

.mouse_line img {
    width: 100%;
}

#mouse_line a:hover {
    color: #666666;
}