.cover {
  opacity: 0;
}

.coverParent {
  position: relative;
}

#slider,
.slide {
  height: 660px;
  width: 100%;
}

.slide{
  position: absolute;
  font-size: 32px;
  font-family: "MyriadPro", sans-serif;
  font-weight: 200;
  color: white;
  text-shadow: 2px 2px 1px #000000;
  text-align: center;
  z-index: 1;
  min-width: 100%;
  margin-top: 350px;
}


.slider_center {
  position: absolute;
  color: #383838;
  width: 100%;
  min-width: 1200px;
  margin-top: 130px
}

.slider_center_text {
  text-transform: uppercase;
}

.losung {
  font-size: 66px;
  font-family: "Myriad Pro", sans-serif;
  text-shadow: 0.05em 0.05em 0.05em #000;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  color: #ffffff;
  z-index: 10;
  line-height: 5%;
  font-weight: lighter;
}

.slider_container {
  position: absolute;
}



.slider_scroll .scroll {
  position: relative;
  height: 160px;
  margin-top: 128px;
  ;
  z-index: 10;
}

.slider_scroll .scroll img {
  height: 160px;
  width: 960px;
  display: block;
  margin: 0 auto;
}

img {
  border-style: none;
}

.slider_scroll {
  width: 160px;
  height: 50px;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.1em black;
  color: white;
  font: normal 400 0.54em/2.16em "MyriadPro2", sans-serif;
  line-height: 300% vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  border-top: 0.05em solid #007cbf;
  background: #4b70a3;
  border-radius: 0.3em;
  box-shadow: 0em 0.1em 0em black;
  z-index: 4;
  font-size: 20px;
  margin-left: -80px;
  margin-top: 45px;
  padding-top: 4px;
  text-transform: uppercase;
}

.slider_scroll a:hover {
  background: #585c60;
  border: none;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 15px;
  height: 15px;
  margin: 4px;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  background: #869791;
}



.slider_center_hr {
  height: 1px;
  z-index: 20;
  position: relative;
}

.slider_center_hr hr {
  border: 1px solid #ffffff;
  width: 100px;
}

