/*common styles*/

/*endof common styles*/

/*header styles*/

.headerBORDER_N5U {
    border-bottom: 2px solid #4b70a3;
}
.headerIMG_N5U{
    margin: 1rem 0 1rem 4rem ;
}
.navbuttons_N5U {
    margin: 5rem 0 12px 0;
}
.navbuttonStyle_N5U {
    text-decoration: none!important;
    color: black;
    padding-right: 15px;
    font-size: 1.6rem;
}
.navbuttonStyle_N5U:hover {
    color: #4b70a3;
}
.enterButtonBlueBorder_N5U {
    border-radius: 10px;
    border: 2px solid #4b70a3;
    padding-top: 8px;
    margin-left: calc(35vw);
}
.enterButtonWhiteBorder_N5U {
    border-radius: 10px;
    border: 3px solid white;
    padding: 5px 0 5px 0;
}
.enterButton_N5U {
    background-color: #4b70a3;
    border-radius: 7px;
    color: white;
    padding: 5px 20px 5px 20px;
    text-decoration: none!important;
}
.enterButton_N5U:hover {
    background-color: #666666;
    color: white;
}
.localisationButtons_N5U {
    margin-left: 85%;
    margin-top: -80px;
}
.localisationButtons_N5U>a:not(:last-child) {
    border-right: 2px solid #acacac;
    padding-right: 4px;
}
@media screen and (max-width: 768px){
    .headerIMG_N5U {
        width: 40rem;
        margin-left: calc(50vw - 200px);
    }
    .enterButtonBlueBorder_N5U {
        border-radius: 15px;
        border: 2px solid #4b70a3;
        padding-top: 25px;
        margin: -1px 0 0 calc(50vw - 70px);
    }
    .enterButtonWhiteBorder_N5U {
        border-radius: 15px;
        border: 5px solid white;
        padding: 10px 0 10px 0;
        background-color: white;
    }
    .enterButton_N5U {
        font-size: 3rem;
        border-radius: 10px;
    }
    .navbuttonStyle_N5U {
        font-size: 3rem;
        margin-left: 10vw;
    }
    .localisationButtons_N5U {
        margin-top: -42px;
    }
    .localisationButtons_N5U>a {
        font-size: 2rem;
    }
}
@media screen and (min-width: 769px) and (max-width: 991px){
    .headerIMG_N5U {
        width: 40rem;
        margin-left: calc(50vw - 200px);
    }
    .enterButtonBlueBorder_N5U {
        border-radius: 15px;
        border: 2px solid #4b70a3;
        padding-top: 25px;
        margin: -23.5px 0 0 calc(50vw - 70px);
    }
    .enterButtonWhiteBorder_N5U {
        border-radius: 15px;
        border: 5px solid white;
        padding: 10px 0 10px 0;
    }
    .enterButton_N5U {
        font-size: 3rem;
        border-radius: 10px;
    }
    .navbuttonStyle_N5U {
        font-size: 3rem;
    }
    .navbuttons_N5U {
        margin-top: 0;
        margin-left: 25vw;
    }
    .localisationButtons_N5U {
        margin-top: -42px;
    }
    .localisationButtons_N5U>a {
        font-size: 2rem;
    }
}
/*endof header styles*/
/*content styles*/

/*endof content styles*/
/*footer styles*/

/*endof footer styles*/
/*social buttons styles*/

/*endof social buttons styles*/
/*form styles*/

/*endof form styles*/