
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-vkontakte-1:before { content: '\f354'; } /* '' */